:root{
    --bg-color: #e0f8e8;
    --text-color: #2d3748;
    --primary-color: #38a169;
    --nav-bg: #ffffff;
}

[data-theme="black"]{
    --bg-color: #1a1a1a;
    --text-color: #f4f4f9;
    --primary-color: #4da3ff;
    --nav-bg: #2a2a2a;
}
